<!doctype html>
<title>Kumbu Admin</title>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width"/>

<!-- Favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<!-- jQuery -->
<script src="{{url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>

<!-- Kumbu -->
<script src="{{url_for('static', filename='js/admin.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin.css')}}">


<div class="container">
  <div class="row">

    <div class="header">
      <h1>Hello World</h1>
    </div>

    <div class="content">
      How are you today ?
    </div>

  </div>
</div>